body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 48px;
  color: #ffff00;
  margin: 10px 0;
}

.subtitle {
  color: #ffff00;
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  margin: 20px 0;
  padding: 12px 30px;
  border: 2px solid #ffff00;
  color: #ffff00;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #ffff00;
  color: #000;
}

.buceta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.laptop-img {
  width: 750px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; 
  margin-top: 60px;
  flex-wrap: wrap;
}

.intro-text {
  flex: 1;
  max-width: 600px;
  text-align: left;
  font-size: x-large;
}

.motherboard-img {
  width: 500px;
  max-width: 100%;
}


/* ------------ */
.plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 40px;
}

.plan {
  background-color: #111;
  border: 2px solid #ffff00;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
}

.plan h3 {
  color: #ffff00;
  margin-bottom: 20px;
}

.plan ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.plan ul li {
  margin-bottom: 10px;
}

.price {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #ffff00;
  display: inline-block;
  font-weight: bold;
}

/* ----------------- */
.highlighted {
  background-color: #000;
  border: 2px solid #ffff00;
  box-shadow: 0 0 20px #ffff00aa;
}
